NEXT_PUBLIC_STORE_NAME=Kastriva Smart Kasir
NEXT_PUBLIC_STORE_ID=kastriva
NEXT_PUBLIC_CASHIER_WHATSAPP=6282117119762
GAS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzmrTUnIug98TMMv-5wSFN0BFoHpwRIHou37D1ls2mTseCKXFcK3ScGxWqsX9FWhMQEaQ/exec
GAS_API_KEY=change-this-secret
NEXT_PUBLIC_CURRENCY=IDR
